<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563182223859-qbqeto4rcdgsrmfj0nrgd0aiuh1pt5qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563182223859-qbqeto4rcdgsrmfj0nrgd0aiuh1pt5qt</string>
	<key>API_KEY</key>
	<string>AIzaSyCEnVEi-klUvJ-L3WbyldpaLicA1BHVnXw</string>
	<key>GCM_SENDER_ID</key>
	<string>563182223859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iteraciona</string>
	<key>PROJECT_ID</key>
	<string>my-budget-app-e88d1</string>
	<key>STORAGE_BUCKET</key>
	<string>my-budget-app-e88d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563182223859:ios:54d7e8d6e3cec688f35286</string>
</dict>
</plist>